<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput
         [formControl]="searchControl"
         [matAutocompletePosition]="'below'"
         [matAutocomplete]="auto">
  <button matSuffix mat-icon-button aria-label="Clear" (click)="searchControl.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete  #auto="matAutocomplete">
    @for (query of filteredQueries$ | async; track query) {
    <mat-option [value]="query">
      {{ query }}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
