.search-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2.5rem 2rem;
}

.scroll-viewport {
  min-height: 20vh;
  width: 100%;
  background-color: #3f4948;
}
