<div class="search-container">
  <app-search-input [formControl]="searchControl"/>


  <div class="scroll-viewport">
    @if (loading()) {
      <div class="scroll-viewport__spinner">
        <mat-spinner />
      </div>
    } @else if (!results().length) {
      <div>No data found</div>
    }

    <cdk-virtual-scroll-viewport (scrollend)="scrolledIndexChange()" itemSize="30" class="h-full">
      <div *cdkVirtualFor="let result of results(); let index = index">
        <p>{{ index + 1 }}. {{ result.body }}</p>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
